.Sec4body{
    background-color:white;
    padding-top: 75px;
    padding: 8% 10%;
}

@media (max-width:700px) {
    .Sec4body{
        align-items: center;
    }
}


.Sec4body h4{
    text-align: center;
    font-size: 34px;
    color: black;
}

.Sec4body h6{
    width: 55%;
    text-align: center;
    margin: 0 auto;
    color: black;
    margin-top: 42px;
}


.Sec4pat1{
    margin-right: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns:1fr 12fr;
    text-align: start;

}


.first{
    padding-top: 10%;
}
.first{
    display: flex;
}
@media (max-width:700px) {
    .first{
        display: flex;
        flex-direction: column;
    }
}
.img1img img{
    width: 70%;
}
@media (max-width:700px) {
    .img1img img{
        width: 90%;
    }
}
.bigimg1{
    width: 25%;
}
@media (max-width:700px) {
    .bigimg1{
        width: 70%;
        align-items: center;    
    }
}






.second{
    padding-top: 10%;
}
.second{
    display: flex;
}
@media (max-width:700px) {
    .second{
        display: flex;
        flex-direction: column-reverse;
    }
}
.Sec4pat2{
    margin-right: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns:1fr 12fr;
    text-align: start;
}
.img2img img{
    width: 70%;
}
@media (max-width:700px) {
    .img2img img{
        width: 90%;
    }
}
.pat2img{
    width: 35%;
}
@media (max-width:700px) {
    .pat2img{
        width: 80%;
        align-items: center;    
    }
}





.threed{
    display: flex;
}
.threed{
    padding-top: 10%;
}
@media (max-width:700px) {
    .threed{
        display: flex;
        flex-direction: column;
    }
}
.Sec4pat3{
    margin-right: 10px;
    padding: 5px;
    display: grid;
    grid-template-columns:1fr 12fr;
    text-align: start;
}
.img3img img{
    width: 65%;
}
@media (max-width:700px) {
    .img3img img{
        width: 90%;
    }
}
.biging3{
    width: 10%;
} 
@media (max-width:700px) {
    .bigimg3{
        width: 70%;
        align-items: center;    
    }
}

