.sec8body{
    /* border: 1px solid red; */
    /* height: 70%; */
    text-align: center;
    background-color: hsl(0, 0%, 100%);
    /* padding-bottom: 0px; */
    /* display: grid;
    grid-template-columns: 1fr 1fr; */

    
}

/* .sec8body h5{
    padding-right: 150px;
} */

/* .sec8in{
    border: 1px solid black;
    width: 30%;
    display: grid;
    grid-template-columns: 1fr 1fr;
} */

