.Sec6body h4{
    text-align: center;
    font-size: 34px;
    color: black;
    padding-top: 40px;
}
@media (max-width:700px) {
    .Sec6body h4{
        margin-top: 30px;
    }
    
}
.sec6fleximg{
    display: flex;
    gap: 25px;
    border: 1px solid red;
    border-style: none;
    width: 87%; 
    margin: 0 auto;
    padding: 40px 20px;
}  
@media (max-width:700px) {
    .sec6fleximg{
        flex-direction: column;
    }
}


@media (max-width:1300px) {
    .sec6fleximg{
        margin: 0 auto;
        padding: 30px 10px;
        flex-direction: column;
        width: 320px;
    }
}
